.DS_Store

.phpintel
/uploads/*
/assets/bundle/*
!/assets/lib/*
/_session/*

*/config/development
*/logs/log-*.php
*/cache/*


user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

application/logs/*

!index.html
!.htaccess
!.keep

/vendor/
_session/ci_session0s4ssvj7sric5k27jprjnnopt6ijn3dq
