RewriteEngine on
Options +FollowSymLinks
#
#	CI - index.php 제거
#

RewriteCond %{REQUEST_URI} !^(/index\.php|/assets/|/robots\.txt|/favicon\.ico)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?$1 [L]

# api로 진입시, api -> index.php 로 변경
RewriteRule ^/?api/(.*)$ /index.php/$1 [R=301,L]

#### 스마트옵티마이져
	<IfModule mod_expires.c>
		<FilesMatch "\.(gif|jpg|jpeg|png|swf|css|js|html?|xml|txt|ico)$">
			ExpiresActive On
			ExpiresDefault "access plus 10 years"
		</FilesMatch>
	</IfModule>
	<IfModule mod_rewrite.c>
		RewriteEngine On

		RewriteCond %{REQUEST_FILENAME} !-f
		RewriteCond %{REQUEST_FILENAME} !-d
		RewriteRule ^(.*\.(js|css))$ smartoptimizer/?$1

		<IfModule mod_expires.c>
			RewriteCond %{REQUEST_FILENAME} -f
			RewriteRule ^(.*\.(js|css|html?|xml|txt))$ smartoptimizer/?$1
		</IfModule>

		<IfModule !mod_expires.c>
			RewriteCond %{REQUEST_FILENAME} -f
			RewriteRule ^(.*\.(gif|jpg|jpeg|png|swf|css|js|html?|xml|txt|ico))$ smartoptimizer/?$1
		</IfModule>
	</IfModule>
	<FilesMatch "\.(gif|jpg|jpeg|png|swf|css|js|html?|xml|txt|ico)$">
		FileETag none
	</FilesMatch>
#### 스마트옵티마이져

# 호스팅용 세팅을 위해
PHP_FLAG allow_url_fopen 1