// LESS 기본 로드
@import url('/assets/css/less_load.less');

.member_join_wrap {
	width: 600px;
	margin: 0 auto;
	overflow: hidden;
	padding: 20px;
}

// 로그인 페이지
.page_login, .page_join, .page_social_login {
	&:before {
	    position: fixed;
	    top: 0;
	    left: 0;
	    content: "";
	    width: 100%;
	    height: 100%;
	    background-position: center top;
	    -webkit-background-size: cover;
	    background-size: cover;
	    z-index: -1;
		background-image: url('/assets/img/common/member.jpg');
	}
	&:after {
	    position: fixed;
	    top: 0;
	    left: 0;
	    content: "";
	    width: 100%;
	    height: 100%;
	    background-color: rgba(38,50,56,.6);
	    z-index: -1;
	}
	.wrapper {
		// vertical_align
			font-size: 0;
	    	vertical-align: middle;
	    	position: relative;
		    height: 100%;
	    	text-align: center;
	    	// box-shadow: 0 0 black;
	    	&:before {
				display: inline-block;
				height: 100%;
				vertical-align: middle;
				content: "";
				@media @phone {
					display: block;
					height: auto;
				}				
	    	}
    	// vertical_align

		#main {
    		// vertical_align
				vertical-align: middle;
				display: inline-block;
				max-width: 100%;
				font-size: 1rem;
				text-align: left;
				@media @phone {
					display: block;
				}
    		// vertical_align

			#content_wrap {
				padding: 40px 0;
			}
		}
	}

	.login_footer {
		color: #fff;
	}
}

.social_login {
	li {
		a {
			padding-left: 5px;
			padding-right: 5px;
		}
		i {
			font-size: 2.5rem;
		}
	}
}

.agree_box {
	// pre {
		height: 200px;
		padding: 20px;
		border: 1px solid @gray-light;
		overflow-y: scroll;
	// }
}