// LESS 기본 로드
@import url('/assets/css/less_load.less');

// 글쓰기 - 에디터 - 소스 숨기기
.board_write.use_editor {
	textarea#post_content {
		visibility:hidden
	}
}

// Remark .table a 보정
.board_wrapper .table a {
	text-decoration: none;
}

// Remark 코멘트
	// Name:            Comments
	//
	// Component:       `comments`
	//
	// ========================================================================

	// Variables
	// ========================================================================
	@comment-padding-vertical          : 20px;
	@comment-border                    : @divider-color-base;
	@comment-author-color              : @title-color;
	@comment-meta-color                : @prompt-color;

	// Component: Comments
	// ========================================================================

	#comment_list {

		.btn-link {
			color: @brand-primary;
		}

		.comments {
			padding: 0;
			margin: 0;
			border-bottom: 1px solid @comment-border;

			.comment {
				border: none;
				border-top: 1px solid @comment-border;
				&:first-child {
					border-top: none;
				}
				.comment {
					&:first-child {
						border-top: 1px solid @comment-border;
					}
					&:last-child {
						border-bottom: none;
					}
				}
			}
		}

		.comment {
			padding: @comment-padding-vertical 0 0 10px;
			margin: 0;

			.comment {
				margin-top: @comment-padding-vertical;
				padding-bottom: @comment-padding-vertical;

				&:last-child {
					padding-bottom: 0;
				}
			}
		}

		.comment-author {
			&,
			&:hover,
			&:focus {
				color: @comment-author-color;
			}
		}

		.comment-meta {
			margin-left: 5px;
			display: inline-block;
			font-size: @font-size-small;

			color: @comment-meta-color;
		}

		.comment-content {
			margin-top: 5px;

			p {
				margin-bottom: 10px;
			}
		}

		.comment-actions {
			margin-top: 10px;
			text-align: right;

			a {
				display: inline-block;
				margin-right: 10px;
				vertical-align: middle;

				&.icon {
					text-decoration: none;
				}

				&:last-child {
					margin-right: 0;
				}
			}
		}

		.comment-reply {
			margin: @line-height-computed 0 10px;

			.form-group:last-child {
				margin-bottom: 0;
			}
		}
	} // #comment_list


/*
#comment_list {
	.comment_item {
		padding: 10px 0;
		border-bottom: 1px dashed @gray-lighter;
		// &:hover {
		// 	background: lighten(@gray-light, 23%);
		// }
		.title {
			margin-bottom: 0;
			.member_image, .member_image_wrap {
				margin-right: 5px;
			}

			.date {
				padding-left: 10px;
			}
			.functions {
				float: right;
			}
		}

		.desc {
			margin-top: 10px;
		}
	}
}
*/